*{
    margin: 0;
    padding: 0;
}

.txt-navbar{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-decoration: none;
    padding: 0px 30px;
    justify-content: center;
}

i{
    padding: 0px 5px;
}

